<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Socket.IO  Connection Example</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
        }
        button {
            padding: 10px 20px;
            margin: 10px;
            font-size 20px;
            font-size: 16px;
            cursor: pointer;
        }
        #status.connected {
            color: green; /* Change text color to green on connect */
        }
    </style>
</head>
<body>
    <h1>Socket.IO Connection Example</h1>
    <button id="connect-btn">Connect</button>
    <button id="disconnect-btn" disabled>Disconnect</button>
    <p id="status">Not connected</p>
    <p id="socket-address"></p>  <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script>
        const connectButton = document.getElementById('connect-btn');
        const disconnectButton = document.getElementById('disconnect-btn');
        const status = document.getElementById('status');
        const socketAddress = document.getElementById('socket-address');  let socket = null;

        connectButton.addEventListener('click', () => {
            if (!socket) {
                // Connect to the Socket.IO server
                // Get the current page URL
                const currentUrl = window.location.href;

                // Extract the hostname and port from the URL
                const urlParts = new URL(currentUrl);
                const hostname = urlParts.hostname;
                const port = urlParts.port;

                // Construct the WebSocket address
                const wsAddress = `wss://${hostname}:${port}`;
                // const wsAddress = 'wss://{{workerId}}-3000.proxy.runpod.net:443'
                socket = io(wsAddress);

                socket.on('connect', () => {
                    status.textContent = 'Connected';
                    status.classList.add('connected');  connectButton.disabled = true;
                    disconnectButton.disabled = false;
                    socketAddress.textContent = `Connected to: ${wsAddress}`;  });

                socket.on('disconnect', () => {
                    status.textContent = 'Not connected';
                    status.classList.remove('connected');  connectButton.disabled = false;
                    disconnectButton.disabled = true;
                    socketAddress.textContent = '';  });
            }
        });

        disconnectButton.addEventListener('click', () => {
            if (socket) {
                // Disconnect from the Socket.IO server
                socket.disconnect();
                socket = null;
            }
        });
    </script>
</body>
</html>